.Top-wraper{
    .Top-main{        
        width: 100%;
        .prof-wraper{
            margin: auto;
            position: relative;
            width: 100%;
            max-width: 1280px;
            img{
                margin: auto;
                display: block;
                width: 100%;
                //position: absolute;
                left: 0; top: 0;
            }
            .catch_copy-1{
                width: 360px;
                padding: auto;
                font-size: 26px;
                background-color:rgb(150, 200, 225);
                position: absolute;
                right: 30px;
                top: 70px;
                @media (max-width: 767px){
                    width: 320px;
                    font-size: 24px;
                }
                @media (max-width: 550px){
                    width: 180px;
                    font-size: 16px;
                    right: 10px;
                    top: 24px;
                }
            }
            .catch_copy-2{
                width: 360px;
                padding: auto;
                font-size: 22px;
                background-color:rgb(150, 200, 225);
                position: absolute;
                right: 20px;
                bottom: 60px;
                @media (max-width: 767px){
                    width: 320px;
                    font-size: 20px;
                }
                @media (max-width: 550px){
                    width: 180px;
                    font-size: 14px;
                    right: 10px;
                    bottom: 20px;
                }
            }
            
        }
        .introduce{
            img{
                margin: auto;
                display: block;
                width: 100px;
                @media (max-width: 550px){
                    width: 50px;
                }
            }
            p{
                text-align: center;
                margin-top: 0;
            }
        }
        
    }
}